<script src="//unpkg.com/alpinejs" defer></script>
<link rel="stylesheet" href="{{ 'track-styles.css' | asset_url }}">

<div
  class="kargo-entegrator"
  x-data="
    {
      statuses: [
        { status:'non_processed', isActive : [], label: 'Gönderime Hazır' , img : `{{ "non-processed.svg" | asset_url }}`},
        { status:'shipped', isActive : [], label: 'Yola Çıktı', img : `{{ "shipped.svg" | asset_url }}`},
        { status:'on_transit', isActive : [], label: 'Taşıma Sürecinde', img : `{{ "on-transit.svg" | asset_url }}`},
        { status:'at_delivery_center', isActive : [], label: 'Dağıtım Merkezinde', img : `{{ "at-delivery-center.svg" | asset_url }}`},
        { status:'in_courier', isActive : [], label: 'Dağıtıma Çıktı', img : `{{ "in-courier.svg" | asset_url }}`},
        { status:'delivered', isActive : [], label: 'Teslim Edildi' , img : `{{ "delivered.svg" | asset_url }}` }
      ],
      order_id: '',
      email: '',
      orderData: [],
      selectedIndex: null,
      errorMessage: '',
      formatDate(date) {
        const options = { year: 'numeric', month: 'long', day: 'numeric' };
        return new Date(date).toLocaleDateString('tr-TR', options);
      },
      getQueryParams() {
        const params = {};
        const queryString = window.location.search;
        if (queryString) {
          const urlParams = new URLSearchParams(queryString);
          for (const [key, value] of urlParams.entries()) {
            params[key] = value;
          }
        }
        return params;
      },
      async fetchOrderData() {
        this.errorMessage = '';
        try {
          const data = await fetch(`/apps/kargo-takip/api/track-extension?orderId=${encodeURIComponent(this.order_id)}&email=${encodeURIComponent(this.email)}`, {
          method: 'GET',
        });

        const response = await data.json();

        if (data && data.ok) {
          this.orderData = response.data;
        }else{
          this.errorMessage = response.error;
        }

        } catch (exception) {
          this.errorMessage = 'Gönderi bulunamadı';
        }
        

        if (this.orderData.length === 1) {
          this.selectedIndex = 0;
        } else {
          this.selectedIndex = null;
        }
      }

    }
  "
  x-init="
    const params = getQueryParams();
    if ('order_id' in params && 'email' in params) {
      order_id = params.order_id || '';
      email = params.email || '';
      fetchOrderData();
    };
  "
>
  <div class="gap-16 flex flex-col">
    <template x-if="orderData.length == 0">
      <form>
        <div class="w-full flex justify-center my-4">
          <h1 class="text-4xl font-bold">Gönderi Takip Sayfası</h1>
        </div>
        <div class="flex justify-center">
          <div class="w-2/3 flex flex-col md:flex-row gap-4 items-start my-4">
            <div class="w-full">
              <input
                name="order_id"
                type="text"
                class="border rounded-lg p-2 w-full leading-none"
                placeholder="Sipariş numaranızı giriniz."
              >
              <div x-show="errorMessage" class="text-red-500 pl-1">
                <p x-text="errorMessage"></p>
              </div>
            </div>
            <div class="w-full">
              <input
                name="email"
                type="email"
                class="border rounded-lg p-2 w-full leading-none"
                placeholder="E-posta adresinizi giriniz"
              >
            </div>
            <div class="flex items-start">
              <button class="bg-black text-white py-2 px-4 rounded-lg w-max cursor-pointer">Gönderiyi Takip Et</button>
            </div>
          </div>
        </div>
      </form>
    </template>
    <template x-if="orderData.length > 0">
      <div class="mt-4">
        <button
          @click="
            orderData = [];
            selectedIndex = null;
            order_id = '';
            errorMessage = '';
            const newUrl = window.location.pathname;
            window.history.replaceState({}, '', newUrl);
          "
          class="bg-transparent w-max hover:underline"
        >
          &larr; Aramaya geri dön
        </button>
      </div>
    </template>
    <template x-if="orderData.length > 1">
      <div>
        <h3>
          <strong>Birden fazla gönderi bulundu. Lütfen takip etmek istediğiniz gönderiyi seçiniz:</strong>
        </h3>
        <ul class="border p-2 mt-2">
          <template x-for="(shipment, index) in orderData" :key="index">
            <li
              class="flex items-center justify-between p-2"
              :class="{'border-b': index < orderData.length - 1}"
            >
              <div>
                <strong>Gönderi No:</strong> <span x-text="shipment.shipment_id"></span> - <strong>Tarih:</strong>
                <span x-text="formatDate(shipment.created_at)"></span>
              </div>
              <div>
                <button
                  @click="selectedIndex = index"
                  :disabled="selectedIndex === index"
                  :class="selectedIndex === index ? 'bg-gray-300 cursor-not-allowed' : 'bg-gray-800 cursor-pointer hover:bg-gray-900'"
                  class="text-white py-1 px-3 rounded"
                >
                  <span x-text="selectedIndex === index ? 'Seçildi' : 'Seç'"></span>
                </button>
              </div>
            </li>
          </template>
        </ul>
      </div>
    </template>
    <template x-if="selectedIndex !== null">
      <div class="gap-16 flex flex-col">
        <div class="flex flex-col">
          <h3>
            <strong> <span x-text="orderData[selectedIndex].shipment.platform_d_id"></span> No'lu Gönderi </strong>
          </h3>
          <div class="w-full bg-gray-200 mt-4 rounded-full h-3 mb-4">
            <div
              :class="
                {
                  'h-3 rounded-full': true,
                  'bg-green-500 w-0': orderData[selectedIndex].shipment.status === 'non_processed',
                  'bg-green-500 w-1/5': orderData[selectedIndex].shipment.status === 'shipped',
                  'bg-green-500 w-2/5': orderData[selectedIndex].shipment.status === 'on_transit',
                  'bg-green-500 w-3/5': orderData[selectedIndex].shipment.status === 'at_delivery_center',
                  'bg-green-500 w-4/5': orderData[selectedIndex].shipment.status === 'in_courier',
                  'bg-green-500 w-full': orderData[selectedIndex].shipment.status === 'delivered',
                }
              "
            >
              <span></span>
            </div>
          </div>
          <div class="flex w-full justify-between">
            <template x-for="(status, index) in statuses" :key="index">
              <div class="flex flex-col items-center justify-end h-auto">
                <img
                  :src="status.img"
                  :width="status.status === orderData[selectedIndex].shipment.status ? (window.innerWidth < 768 ? '20' : '32') : (window.innerWidth < 768 ? '16' : '24')"
                  :height="status.status === orderData[selectedIndex].shipment.status ? (window.innerWidth < 768 ? '20' : '32') : (window.innerWidth < 768 ? '16' : '24')"
                >
                <template x-if="status.status === orderData[selectedIndex].shipment.status">
                  <h4 :style="`font-size:${window.innerWidth < 768 ? '10px' : '12px'};text-align:center;font-weight:bold;margin-top:2px;`" x-text="status.label" />
                </template>
                <template x-if="status.status !== orderData[selectedIndex].shipment.status">
                  <h4 :style="`font-size:${window.innerWidth < 768 ? '10px' : '12px'};text-align:center;font-weight:normal;margin-top:2px;`" x-text="status.label" />
                </template>
              </div>
            </template>
          </div>
        </div>
        <div class="flex">
          <div class="w-1/2 border">
            <div
              class="flex flex-col w-full p-4 gap-2"
            >
              <h2 class="mb-2"><strong>Adres Bilgileri</strong></h2>
              <div>
                <strong>Müşteri Adı:</strong>
                <span
                  x-text="orderData[selectedIndex].shipment.receiver.name + ' ' + orderData[selectedIndex].shipment.receiver.surname"
                ></span>
              </div>
              <div><strong>Telefon:</strong> <span x-text="orderData[selectedIndex].shipment.receiver.phone"></span></div>
              <div><strong>Adres:</strong> <span x-text="orderData[selectedIndex].shipment.receiver.address"></span></div>
              <div><strong>Şehir:</strong> <span x-text="orderData[selectedIndex].shipment.receiver.city"></span></div>
              <div><strong>İlçe:</strong> <span x-text="orderData[selectedIndex].shipment.receiver.district"></span></div>
              <div><strong>Ülke:</strong> <span x-text="orderData[selectedIndex].shipment.receiver.country"></span></div>
            </div>
          </div>
          <div class="w-1/2 border p-4 border-l-0">
            <h2 class="mb-2"><strong>Ürün Bilgileri</strong></h2>
            <template x-for="(line, lineIndex) in orderData[selectedIndex].shipment.lines" :key="line.id">
              <div
                class="flex w-full p-2"
                :class="{'border-b': lineIndex < orderData[selectedIndex].shipment.lines.length - 1}"
              >
                <div>
                  <img :src="line.image" alt="" width="60" height="60">
                </div>
                <div class="flex justify-between w-full items-center p-2">
                  <span x-text="line.title"></span>
                  <span x-text="line.quantity"></span>
                </div>
              </div>
            </template>
          </div>
        </div>
      </div>
    </template>
  </div>
</div>

{% schema %}
{
  "name": "Kargo Takip",
  "settings": [],
  "target": "section",
}
{% endschema %}